<!DOCTYPE html>
<html lang="en" data-ng-app="BlocksApp" class="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title data-ng-bind="'<%= settings.name %> | ' + $state.current.data.pageTitle"></title>
    <meta name="description" content="<%= settings.title %>">
    <meta name="author" content="<%= settings.author %>">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <base href="/">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!-- Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Plugin CSS -->
    <link href="/plugins/uniform/css/uniform.default.css" rel="stylesheet">
    <link href="/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet">
    <link id="ng_load_plugins_before">
    
    <!-- Theme CSS -->
    <link href="/css/components.min.css" id="style_components" rel="stylesheet">
    <link href="/css/plugins.min.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/modern-explorer.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
</head>
<body ng-controller="MainController" class="min-h-screen bg-gradient-to-br from-slate-900 via-slate-800 to-slate-900 text-white">
    <!-- Loading Spinner -->
    <div ng-spinner-bar class="fixed inset-0 z-50 flex items-center justify-center bg-slate-900/80 backdrop-blur-sm">
        <div class="flex flex-col items-center space-y-4">
            <div class="w-12 h-12 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
            <p class="text-slate-300">Loading...</p>
        </div>
    </div>

    <!-- Main App Container -->
    <div class="flex flex-col min-h-screen">
        <!-- Header -->
        <header data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" 
                class="sticky top-0 z-40 bg-slate-900/95 backdrop-blur-md border-b border-slate-700/50">
        </header>

        <!-- Page Head (for non-home pages) -->
        <div ng-show="!isHome" data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController" 
             class="bg-slate-800/50 border-b border-slate-700/30">
        </div>

        <!-- Main Content -->
        <main class="flex-1 relative">
            <div class="container mx-auto px-4 py-6">
                <div ui-view class="fade-in-up"></div>
            </div>
        </main>

        <!-- Footer -->
        <footer data-ng-include="'tpl/footer.html'" data-ng-controller="FooterController" 
                class="bg-slate-900/95 border-t border-slate-700/50">
        </footer>
    </div>
    <!-- Core Scripts -->
    <script src="/plugins/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/plugins/jquery.blockui.min.js"></script>
    <script src="/plugins/jquery.cokie.min.js"></script>
    <script src="/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    
    <!-- AngularJS -->
    <script src="/plugins/angularjs/angular.min.js"></script>
    <script src="/plugins/angularjs/angular-sanitize.min.js"></script>
    <script src="/plugins/angularjs/angular-touch.min.js"></script>
    <script src="/plugins/angularjs/plugins/angular-ui-router.min.js"></script>
    <script src="/plugins/angularjs/plugins/ocLazyLoad.min.js"></script>
    <script src="/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js"></script>
    
    <!-- App Scripts -->
    <script src="/js/app.min.js"></script>
    <script src="/js/web3utils.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/directives.js"></script>
    
    <!-- Additional Scripts -->
    <script src="/js/layout.min.js"></script>
    <script src="/plugins/d3.v3.min.js"></script>
    <script src="/plugins/d3.tip.min.js"></script>
    <script src="/plugins/lodash.min.js"></script>
    
    <link id="ng_load_plugins_after">
</body>
</html>
