
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu dark-header">
    <div class="container">
        <div class="header-content">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img ng-show="settings.logo" src="{{settings.logo}}" alt="logo" class="logo-default" />
                </a>
            </div>
            <!-- END LOGO -->
            
            <!-- BEGIN MEGA MENU -->
            <div class="hor-menu hor-menu-dark">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li ng-show="settings.useRichList">
                        <a href="/accounts">Accounts</a>
                    </li>
                    <li>
                        <a href="/token">Tokens</a>
                    </li>
                    <li class="menu-dropdown mega-menu-dropdown">
                        <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#" class="dropdown-toggle">
                            Stats
                            <i class="fa-solid fa-angle-down fa-fw"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <a href="/stats/hashrate">
                                                        <i class="fa-solid fa-chart-line fa-fw"></i> Hashrate Chart
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/stats/miner_hashrate">
                                                        <i class="fa-solid fa-chart-line fa-fw"></i> Miner Distribution Chart
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/stats/difficulty">
                                                        <i class="fa-solid fa-chart-line fa-fw"></i> Difficulty Chart
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/stats/blocktime">
                                                        <i class="fa-solid fa-chart-line fa-fw"></i> Blocktime Chart
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown">
                        <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#">
                            Misc
                            <i class="fa-solid fa-angle-down fa-fw"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="/contract">
                                    <i class="fa-solid fa-circle-check"></i> Verify Contract
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown">
                        <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#">
                            Community
                            <i class="fa-solid fa-angle-down fa-fw"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="https://discord.digitalregion.jp" target="_blank">
                                    <i class="fa-brands fa-discord"></i>
                                    <span class="title" data-toggle="tooltip" title="Discord"> Discord</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/virbicoin/vbc-explorer" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                    <span class="title" data-toggle="tooltip" title="GitHub"> GitHub</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://x.com/virbicoin" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                    <span class="title" data-toggle="tooltip" title="Twitter"> Twitter</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
            
            <!-- BEGIN SEARCH FORM -->
            <div class="header-search">
                <form name="form.searchForm" class="search-form">
                    <div class="input-group">
                        <input type="text" name="explorerSearch" class="form-control search-input" placeholder="Search by Address / Txhash / Block..." ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                        <span class="input-group-btn">
                            <a class="btn search-btn" ng-click="searchQuery(form.searchInput)">
                                <i class="fa-solid fa-magnifying-glass fa-fw"></i>
                            </a>
                        </span>
                    </div>
                </form>
            </div>
            <!-- END SEARCH FORM -->
        </div>
    </div>
</div>
<!-- END HEADER INNER -->
